:root {
    --logo-width: 300px;
    --spin-speed: 1.3s;
}

/* Resetting default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #27ae60;
    background-color: #ecf0f1;
    cursor: default;
    background-image: url('8737241.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

/* Preloader styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(9, 12, 49, 0.8); /* Slightly transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.preloader--invisible {
    opacity: 0;
}

.preloader--hidden {
    visibility: hidden;
}

.preloader__logo {
    width: var(--logo-width);
    padding-bottom: 10px;
    background: url('logo.svg') no-repeat center;
    background-size: 40%;
}

.preloader__circle {
    border-top: 2px solid #fff;
    border-radius: 50%;
    width: calc(var(--logo-width) + 10px);
    height: calc(var(--logo-width) + 10px);
    animation: preloader-spin var(--spin-speed) linear infinite;
}

@keyframes preloader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Responsive Design */
@media (max-width: 1200px) {
    body {
        font-size: 18px; /* Slightly smaller font size for medium screens */
    }
}

@media (max-width: 992px) {
    body {
        font-size: 16px; /* Smaller font size for large tablets */
    }

    .preloader__logo {
        width: 250px; /* Adjust logo size */
    }

    .preloader__circle {
        width: calc(250px + 10px);
        height: calc(250px + 10px);
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Smaller font size for tablets and mobile devices */
    }

    .preloader__logo {
        width: 200px; /* Adjust logo size */
    }

    .preloader__circle {
        width: calc(200px + 10px);
        height: calc(200px + 10px);
    }
}

@media (max-width: 576px) {
    body {
        font-size: 12px; /* Even smaller font size for very small screens */
    }

    .preloader__logo {
        width: 150px; /* Adjust logo size */
    }

    .preloader__circle {
        width: calc(150px + 10px);
        height: calc(150px + 10px);
    }
}
